@use "../global/media.scss";

.action{
  background-color: rgba(104, 183, 56, 0.85);
  height: 289px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 35px 0 35px;


  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/action-img-mobile.jpg");
    background-size: 100% 100%;
    z-index: -1;
  }

  @include media.for-tablet  {

   height: 200px;
   flex-direction: row;
   margin: 69px 0 76px;
   justify-content: left;

   &::after {
    background-image: url("../img/action-img-tablet.jpg");
  }

  }

  @include media.for-desktop  {
    flex-direction: column;
    margin: 0;


    &::after {
     background-image: url("../img/action-img-desktop.jpg");

   }

   }
}

.action__img{
  display: block;
  // margin: 0 auto;
  margin-bottom: 48px;

  @include media.for-tablet  {
    margin-bottom: 0;
    margin-left: 77px;
    width: 80px;
    height: 82px;
  }

  @include media.for-desktop  {
    margin-bottom: 46px;
    width: 80px;
    height: 82px;
  }
}

.action__text {
  margin: 0 auto;
  width: 161px;
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  text-align: center;

  @include media.for-tablet  {
    text-align: left;
    margin: 0 0 0 265px;
   }
}
