@use "../mixins/title.scss";
@use "../mixins/description.scss";
@use "../global/media.scss";

.address {
  @include media.for-desktop {
    position: relative;
  }

}

.address__location {
  display: block;
  width: 100%;

  @include media.for-tablet_and_above {
    height: 400px;
  }
}

.address__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 26px 0;

  @include media.for-tablet {
    padding: 60px 40px 59px;
  }

  @include media.for-desktop {
    position: absolute;
    top: 95px;
    left: 110px;
    z-index: 1;
    width: 565px;
    padding: 60px 60px 56px 80px;
    box-sizing: border-box;
    background-color: #fff;
    margin: 0;
    grid-template-columns: 170px auto;
    column-gap: 79px;
  }
}

.address__title {
  @include title.title();
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0;

  @include media.for-tablet_and_above {
    font-size: 20px;
    line-height: 26px;
    max-width: 170px;
  }
}

.address__description{
  @include description.description();
    line-height: 20px;
    margin: 0;
    padding: 0;

  @include media.for-tablet {
    font-size: 16px;
    max-width: 160px;
    text-align: right;
    justify-self: end;
  }
  @include media.for-desktop {
    font-size: 16px;
    max-width: 175px;
  }
}

.address__city {

  @include media.for-tablet_and_above {
    display: block;
    margin-top: 20px;
  }
}

.address__map{
  margin: 0 -20px;
  padding: 0;

  @include media.for-tablet {
    margin: 0 -31px;
  }

  @include media.for-desktop {
    margin: 0 -110px;
  }
}

