@use "../mixins/title.scss";
@use "../mixins/description.scss";
@use "../global/media.scss";

.advantages {
 margin-bottom: 49px;

 @include media.for-tablet {
 border-bottom: 1px solid #E6E6E6;
 margin-bottom: 0;
}
}

.advantages__title {
  @include title.title-big();
  margin: 0;
  margin-bottom: 40px;

  @include media.for-tablet {
    line-height: 60px;
    font-size: 60px;
    margin-bottom: 0;
  }
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 40px;

  @include media.for-tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 76px;

    counter-reset: num;
}

.advantages__description {
  @include description.description();
    margin: 0;

  @include media.for-tablet {
    line-height: 24px;
    font-size: 16px;
    width: 245px;
    z-index: 1;
  }

  // @media (min-width: $desktop) {
  //   margin: 0;
  //   margin-top: 32px;
  // }
  }
}

.advantages__item {
  display: flex;
  align-items: center;
  gap: 20px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  @include media.for-tablet {
    min-height: 280px;
    flex-direction: column;
    align-items: flex-start;
    gap: 31px;
    padding-top: 40px;

    &:not(:last-child) {
      margin: 0;
    }

    position: relative;
    counter-increment: num;

    &::before {
      content: counter(num);
      position: absolute;
      right: 0;
      top: 0;
      font-family: "Oswald", "Arial", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 280px;
      line-height: 280px;
      color: #F2F2F2;
      width: 136px;
      text-align: center;
    }
  }

}
.advantages__item-rect {
  min-width: 60px;
  min-height: 60px;
  background-color: #68B738;
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;

  &--leaf {
    background-image: url("../img/advantages/leaf.svg");
  }

  &--powder {
    background-image: url("../img/advantages/powder.svg");
  }

  &--food {
    background-image: url("../img/advantages/kitchen-appliances.svg");
  }

  &--time {
    background-image: url("../img/advantages/alarm-clock.svg");
  }

  @include media.for-tablet {
    width: 80px;
    height: 80px;
  }
}
