@use "../mixins/title.scss";
@use "../global/media.scss";

.card-item {
    padding: 19px 0 25px ;

  @include media.for-mobile {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      left: -20px;
      right: -20px;
      height: 1px;
      background-color: #ebebeb;
      // padding: 19px 0 25px ;
    }

    &::before {
      top: 0;
    }
  }

  @include media.for-tablet {

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    // height: 430px;
    padding:0 37px 39px 39px;
    position: relative;


    &::before {
      content: "";
      display: block;
      left: 0px;
      right: 0px;
      bottom: 0;
      top: 71px;
      background-color: #F2F2F2;
      position: absolute;
      z-index: -1;
    }


  }

  @include media.for-desktop {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    padding:0 38px 40px 39px;

    &::before {
      content: "";
      display: block;
      left: 0px;
      right: 0px;
      bottom: 0;
      top: 80px;
      background-color: #F2F2F2;
      position: absolute;
      z-index: -1;
    }
  }
}

.card-item__info-wrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 13px;
  justify-content: stretch;

  @include media.for-tablet_and_above {
    display: flex;
    flex-direction: column-reverse;
    // margin-bottom: 33px;
    margin-bottom: 0;
  }
}

.card-item__info {

  @include media.for-tablet {

  }
}

.card-item__title {
  @include title.title();
  font-size: 16px;
  line-height: 20px;
  color: #222;
  max-width: 76px;
  margin: 0;
  margin-bottom: 14px;

  @include media.for-tablet_and_above {
    font-size: 20px;
    line-height: 24px;
    max-width: 150px;
    text-align: center;
    margin: 0 auto 13px;
  }
}

.card-item__image{
  margin: auto;
  display: block;
  flex-grow: 1;

  @include media.for-tablet{
    // margin-bottom: 34px;
    // position: absolute;
    // left: 50%;
    // transform: translate(-50%);
    // bottom: 215px;

    &--small {
      // width: 161px;
      // height: 172px;
      // margin-right: 0;
      margin-bottom: 34px;
    }

    &--big {
      // width: 168px;
      // height: 206px;
      // margin-right: 0;
      margin-bottom: 28px;
    }
  }


  @include media.for-desktop{

    &--small {
      margin-bottom: 42px;
    }

    &--big {
      margin-bottom: 46px;
    }
  }
}

.card-item__button {
  font-size: 16px;
  line-height: 20px;
  padding: 11px 26px;
  // min-width: 100px;

  @include media.for-tablet_and_above {
    margin-top: auto;
    // margin: 33px 0 39px;
  }
}
