@use "../mixins/title.scss";
@use "../global/media.scss";

.card-item {
  padding: 19px 0 25px ;

  @include media.for-mobile {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      left: -20px;
      right: -20px;
      height: 1px;
      background-color: #ebebeb;
    }

    &::before {
      top: 0;
    }
  }

  @include media.for-tablet {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 162px;
    position: relative;
  }
}

.card-item__info-wrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 13px;
  // justify-content: center;

  @include media.for-tablet {
    display: flex;
    flex-direction: column-reverse;
  }
}

.card-item__info {


  @include media.for-tablet {

  }
}

.card-item__title {
  @include title.title();
  font-size: 16px;
  line-height: 20px;
  color: #222;
  max-width: 76px;
  margin: 0;
  margin-bottom: 14px;

  @include media.for-tablet {
    font-size: 20px;
    line-height: 24px;
    max-width: 150px;
    text-align: center;
    margin: 0 auto 21px;
  }
}

.card-item__image {
  margin: auto;
  display: block;

  &--small {
    margin-right: 36px;
  }

  &--big {
    margin-right: 28px;
  }

  @include media.for-tablet {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 215px;

    &--small {
      width: 161px;
      height: 172px;
      margin-right: 0;
    }

    &--big {
      width: 168px;
      height: 206px;
      margin-right: 0;
    }
  }
}

.card-item__button {
  font-size: 16px;
  line-height: 20px;
  padding: 11px 26px;
  // min-width: 100px;

  @include media.for-tablet {
    margin:0 37px 0 39px;
  }
}
