@use "../mixins/title.scss";
@use "../mixins/description.scss";
@use "../mixins/link.scss";
@use "../global/media.scss";

.card-content {
  display: grid;
  align-items: center;
  position: relative;

  @include media.for-mobile {
    grid-template-columns: 1fr;
    margin: 20px;

  &::before {
    content: "";
    position: absolute;
    top: 24px;
    left: 0px;
    width: 50px;
    height: 50px;
    background-color: #68B738;
    border-radius: 50%;
  }

  &--cat-slim::after {
    content: "";
    position: absolute;
    top: 21px;
    left: 9px;
    width: 36px;
    height: 50px;
    background-image: url("../img/cat-slim.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    }

  &--cat-pro::after {
    content: "";
    position: absolute;
    top: 35px;
    left: -9px;
    width: 67px;
    height: 28px;
    background-image: url("../img/cat-pro.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    }
  }

  @include media.for-tablet {
    grid-template-columns: 340px 200px;
    grid-template-rows: auto auto auto;
    margin: 0 62px 0 52px;
    column-gap: 52px;

    &::before {
      content: "";
      position: absolute;
      right: 0px;
      top: 92px;
      width: 200px;
      height: 200px;
      background-color: #68B738;
      border-radius: 50%;
    }
    &--cat-slim::after {
      content: "";
      position: absolute;
      top: 81px;
      right: 30px;
      width: 140px;
      height: 194px;
      background-image: url("../img/cat-slim.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      }

    &--cat-pro::after {
      content: "";
      position: absolute;
      top: 135px;
      right: -30px;
      width: 268px;
      height: 112px;
      background-image: url("../img/cat-pro.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }
  @include media.for-desktop {
    grid-template-columns: 1fr;
    margin: 47px 61px 0 52px;

  &::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 100px;
    background-color: #68B738;
    border-radius: 50%;
  }

  &--cat-slim::after {
    content: "";
    position: absolute;
    top: -7px;
    left: 16px;
    width: 70px;
    height: 97px;
    background-image: url("../img/cat-slim.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    }

  &--cat-pro::after {
    content: "";
    position: absolute;
    top: 20px;
    left: -18px;
    width: 134px;
    height: 56px;
    background-image: url("../img/cat-pro.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    }
  }
}

.card-content__title {

  @include media.for-mobile {

    @include title.title();
    position: relative;
    margin-top: 0;
    margin-bottom: 29px;
    padding: 30px 20px 0 71px;
  }

  @include media.for-tablet {
    @include title.title-medium();
    text-transform: uppercase;
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 77px 0 24px;
  }

  @include media.for-desktop {
    @include title.title-big();
    line-height: 36px;
    text-transform: uppercase;
    margin: 30px 0 25px 162px;
  }

}

.card-content__icon {

}

.card-content__description {
  margin: 0;

  @include media.for-mobile {

    @include description.description();

    &::after {
      content: "";
      display: block;
      border: 1px solid #D9D9D9;
      margin-top: 23px;
      }
  }

  @include media.for-tablet {
    @include description.description-medium();
    grid-column: 1/2;
    grid-row: 2/3;
  }

  @include media.for-desktop {
    @include description.description-medium();
    margin-top: 39px;
  }
}

.card-content__link {
  @include link.link-button();
  text-decoration: none;
  margin-top: 19px;
  margin-bottom: 22px;

  @include media.for-tablet {
    font-weight: 400;
    font-size: 20px;
    grid-column: 1/2;
    grid-row: 3/4;
    margin-top: 52px;
    margin-bottom: 57px;
  }

  @include media.for-desktop {
    font-weight: 400;
    font-size: 20px;
    margin-top: 27px;
    margin-bottom: 59px;
  }
}

.card-content__arrow {
  margin-left: 15px;

  @include media.for-tablet {
    margin-left: 25px;
  }
}
