@use "../global/media.scss";

.cat-boris__img {
  width: 100%;
}

.cat-boris__wrapper{
  padding-bottom: 40px;
  display: inline-block;

  @include media.for-tablet {
    padding-bottom: 96px;
  }

  @include media.for-desktop {
      padding-bottom: 85px;
  }
}

.cat-boris__button{
  position: absolute;
  top: calc(50% - 20px);
  left: 50%;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
