@use "../global/media.scss";

.checkbox{
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 1px #CDCDCD solid;
  position: absolute;
  left: 0px;

  @include media.for-tablet_and_above {
    width: 40px;
    height: 40px;
  }
}

input[type=checkbox]:checked+.checkbox::before {
  content: "";
  display: block;
  background: url("../img/tick.svg") no-repeat center;
  width: 30px;
  height: 30px;

  @include media.for-tablet_and_above {
    width: 40px;
    height: 40px;
  }
}
