@use "../global/media.scss";

.container {
  margin-left: 20px;
  margin-right: 20px;

  @include media.for-tablet {
    margin-left: 31px;
    margin-right: 30px;
  }

  @include media.for-desktop {
    margin-left: 110px;
    margin-right: 110px;
  }
}
