@use "../mixins/title.scss";
@use "../global/media.scss";

.form-main__container{
  margin-top: 27px;
  margin-bottom: 32px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: -20px;
    right: -20px;
    top: -27px;
    height: 1px;
    background-color: #ebebeb;
  }
}
.form-main__title {
  @include title.title-medium();
  margin: 0;
}

.form-main__text{
  margin: 37px 0 39px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
