
@use "../global/media.scss";

.input{
  display: block;
  box-sizing: border-box;

  &--icon{
    background-repeat: no-repeat;
    background-position: right 15px center,right center;
    padding-right: 45px;
  }

  &--icon-email{
    background-image: url("../img/email.svg");
  }

  &--icon-phone {
    background-image: url("../img/phone.svg");
  }

  &--multiline{
    width: 100%;
    padding: 14px 13px;
    min-height: 150px;
  }

  @include media.for-tablet {
    &--multiline{
      padding: 8px 17px;
      min-height: 173px;
    }
  }
}

