@use "../global/media.scss";

.last-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0;

  @include media.for-mobile {
    position: relative;
    &::before,
    &::after {
      content: '';
      position: absolute;
      left: -20px;
      right: -20px;
      height: 1px;
      background-color: #ebebeb;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }
  }
}

.last-card__plus {
  position: relative;
  width: 30px;
  height: 30px;
  margin-bottom: 23px;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #d3d3d3;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    background-color: #d3d3d3;
  }
}

.last-card__title {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin-bottom: 8px;
}

.last-card__text {
  margin: 0;
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444;
  margin-bottom: 21px;
}

.last-card__button {
  font-size: 16px;
  line-height: 20px;
  width: 100%;
}
