@use "../global/variables.scss";
@use "../global/media.scss";

.main-header {
  z-index: 1;
  position: relative;

  @include media.for-tablet {

  }

  @include media.for-desktop {

  }
}



.main-header__logo-img {

  display: flex;
  justify-content: center;
  align-items: center;

  @include media.for-mobile {
    background-image: url("../img/logo-mobile.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 65px;
    height: 65px;
  }

  @include media.for-tablet {
    background-image: url("../img/logo-tablet.svg");
    background-repeat: no-repeat;
    width: 174px;
    height: 52px;
    margin-left: 31px;
  }
}


.main-header__logo-text {
  @include media.for-tablet {
    display: none;
  }
}

.main-header__button {
  width: 65px;
  height: 65px;
  @include media.for-tablet {
display: none;
  }
}


.main-header__content {
display: flex;
justify-content: space-between;
align-items: center;

@include media.for-tablet {

  }

}

.main-header__button-on{
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
}

.main-header__button-off{
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  z-index: 1;
  top: 24px;
  right: 20px;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
}

.main-header__nav {
  background: #FFF;

  @include media.for-mobile {
  width: 100%;
  position: absolute;
  top: 65px;
  }

  @include media.for-tablet {
  display: flex;
  }
}
