@use "../global/variables.scss";
@use "../global/media.scss";

// .main-nav {
//   // position: relative;
//   // width: auto;
// }

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;


}


