@use "../mixins/title.scss";
@use "../global/media.scss";


.more-products-card-table {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444;

  @include media.for-tablet  {
    font-size: 16px;
    line-height: 20px;
  }
}


.more-products-card-table__info-name {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444;

  @include media.for-tablet  {
    text-align: end;
    font-size: 16px;
  }

}

.more-products-card-table__info-price {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444;
  text-align: end;

  @include media.for-tablet  {
    width: 94px;
    padding: 0;
    font-size: 16px;
    line-height: 20px;
  }

}
