@use "../mixins/title.scss";
@use "../global/media.scss";

.more-products{
  margin-top: 25px;

  @include media.for-tablet  {
    margin-top: 68px;
  }
}

.more-products__title{
  @include title.title();
  line-height: 24px;
  text-transform: none;
  margin: 0;
  padding: 0;
  margin-bottom: 36px;

  @include media.for-tablet  {
    @include title.title-medium();
    margin-bottom: 80px;
  }

}

.more-products__list{
  list-style: none;
  margin: 0;
  padding: 0;
}

.more-products__item {
  @include media.for-tablet  {
    padding: 0 38px;
  }
}
