@use "../mixins/title.scss";
@use "../global/media.scss";

.more-products-card {
// margin: 13px 0 0;

    border-top: 1px solid #cdcdcd;

    &:last-child {
      border-bottom: 1px solid #cdcdcd;
    }


  @include media.for-tablet  {
    display: grid;
    grid-template-columns: 1fr 1fr;

    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
  }


  @include media.for-desktop  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.more-products-card__title {
  @include title.title();
  font-size: 16px;
  line-height: 16px;
  margin: 13px 0;
  padding: 0;

  @include media.for-tablet  {
    font-size: 20px;
    line-height: 20px;
    margin: 26px 0 26px;
  }

  @include media.for-desktop  {

    font-size: 20px;
    line-height: 20px;
    margin: 25px 0 27px;
  }

}

.more-products-card__info {
  padding: 0;
  width: 100%;
  margin-bottom: 15px;

  @include media.for-tablet  {
  margin-bottom: 0px;
  }

}

.more-products-card__button {
  font-size: 16px;
  line-height: 20px;
  padding: 10px 0;
  // margin-bottom: 25px;

  @include media.for-tablet  {
    grid-column: 1/-1;
  }
  @include media.for-desktop  {
    margin: 15px 0 17px;
  }

}
