@use "../global/media.scss";

.page-footer__container {
  background-color: #F2F2F2;
}

.page-footer__wrapper{

  display: flex;

  @include media.for-mobile {
    flex-direction: column;
    gap: 20px;
    padding: 40px 0;
  }

  @include media.for-tablet {
    padding: 55px 0;
    justify-content: space-between;
  }

  @include media.for-desktop {
    padding: 66px 0;
    justify-content: space-between;
  }
}

.page-footer__wrapper-logo{
  align-self: center;

  @include media.for-tablet_and_above {
    width: 168px;
 }
}

.page-footer__wrapper-logo__img{
  align-self: center;

  @include media.for-tablet_and_above {
    width: 142px;
    height: 26px;
  }
}
