.page-footer__container {
background-color: #F2F2F2;
}

.page-footer__wrapper{
  gap: 20px;
  display: flex;
  flex-direction: column;
  padding: 40px 0;
}

.page-footer__wrapper-logo {
  align-self: center;

}
