@use "../global/media.scss";

.radio {
  width: 30px;
  height: 30px;
  border: 1px #CDCDCD solid;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  left: -46px;

  @include media.for-tablet_and_above {
    width: 40px;
    height: 40px;
  }
}

input[type=radio]:checked+.radio::before {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #68B738;
  content: "";
  display: block;
  transform: translate(50%, 50%);

  @include media.for-tablet_and_above {
    width: 20px;
    height: 20px;
  }
}
