.social-item {

  &__link {
    &:hover,
    &:focus{
      & path {
        fill: #68B738;
      }
    }

    &:active{
      & path {
        fill: #68B738;
        opacity: 0.3;
      }
    }
  }
}
