@use "../global/media.scss";

.social-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @include media.for-tablet {
  align-self: center;
}

.social-list__item:not(:last-child)  {
  margin-right: 24px;
}
}
